<!DOCTYPE html>
<html>
    <body>
        <form action="../push_image_location/" method="post" enctype="multipart/form-data">
            <input type="textbox" name="unique_name" placeholder="Sender Unique Name"></input>
            <input type="textbox" name="recipients" placeholder="Receiver Unique Name"></input>
            <input type="file" name="image" accept="image/*"></input>
            <input type="textbox" name="latitude" placeholder="Latitude" value="0"></input>
            <input type="textbox" name="longitude" placeholder="Longitude" value="0"></input>
            <input type="submit"></input>
        </form>
    </body>
</html>
